<section class="xbox">
    <div class="content">
        <h2> About Bravo Law Offices</h2>

        <p> 
            
  
<p>At Bravo Law Offices, we are not afraid to fight. For over 30 years, our 
    attorneys have been fighting for injured individuals and businesses throughout
     the Bay Area. We will fight for you.</p> 


          <a href="service/contact" class="btn">
              Contact Us <i class="fas fa-chevron-right"></i>
          </a>


    </div>
</section>