<div class="row">
    <div class="col-sm d-flex">

       <!-- <div class="card"> -->

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
           <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
             <div class="card-body">
               <h5 class="serviceTitle"> Networking Services Include:</h5>
               <ol>
                  <li> <strong>Data Center Networking: </strong> Scalable and automated connectivity for virtualized compute, and storage</li> 
                  <li> <strong> Hardware Sharing: </strong> Share computer hardware's in an office, and home environment</li>
                  
               </ol>
               <button type="button" class="btn placeOrder" id="placeOrder"><a href="#registerForm">CONTACT US</a></button>
             </div>
           </div> -->
         <!-- </div> -->



   </div>

  



   <div class="col-sm d-flex">

       <div class="card">

           <img class="card-img-top" src="./img/Networking.jpg" alt="Card image cap" style="height: 250px;">
                       <div class="card-body flex-fill">
                           <h5 class="card-title">Networking Services</h5>
                       <p class="card-text"> <strong>Hardware, Software, Central Back-up,and Messages</strong>  can be shared through individual workstations,so individual Workstations do not need their own printer. When they print, the data is stored in a queue on a Local server.And each workstation can have access to data on the Serve</p>
                       </div>

       
           <div class="card-header" id="headingTwo">
             <h5 class="mb-0">
               <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   LEARN MORE
               </button>
             </h5>
           </div>
           <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
             <div class="card-body">
               <h5 class="serviceTitle"> Networking Services Include:</h5>
               <ol>
                  <li> <strong>Data Center Networking: </strong> Scalable and automated connectivity for virtualized compute, and storage</li> 
                  <li> <strong> Hardware Sharing: </strong> Share computer hardware's in an office, and home environment</li>
                  
               </ol>
               <button type="button" class="btn placeOrder" id="placeOrder"><a href="#registerForm">CONTACT US</a></button>
             </div>
           </div> -->
         </div>



   </div>


   <div class="col-sm d-flex">

       <div class="card">

           <img class="card-img-top" src="./img/Networking.jpg" alt="Card image cap" style="height: 250px;">
                       <div class="card-body flex-fill">
                           <h5 class="card-title">Networking Services</h5>
                       <p class="card-text"> <strong>Hardware, Software, Central Back-up,and Messages</strong>  can be shared through individual workstations,so individual Workstations do not need their own printer. When they print, the data is stored in a queue on a Local server.And each workstation can have access to data on the Serve</p>
                       </div>

       
           <div class="card-header" id="headingTwo">
             <h5 class="mb-0">
               <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  LEARN MORE
               </button>
             </h5>
           </div>
           <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
             <div class="card-body">
               <h5 class="serviceTitle"> Networking Services Include:</h5>
               <ol>
                  <li> <strong>Data Center Networking: </strong> Scalable and automated connectivity for virtualized compute, and storage</li> 
                  <li> <strong> Hardware Sharing: </strong> Share computer hardware's in an office, and home environment</li>
                  
               </ol>
               <button type="button" class="btn placeOrder" id="placeOrder"><a href="#registerForm">CONTACT US</a></button>
             </div>
           </div> -->
         </div>



   </div>





   










</div>