<!-- <section id="testimonialsxxx" class="py-1 text-center">
    <div class="container-fluid" >
      
        <div class="row" style="background-color: cornflowerblue;">
            <div class="col-md-11 mx-auto">
    
                <div id="workTech" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#workTech" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#workTech" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#workTech" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#workTech" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <a href="https://en.wikipedia.org/wiki/Email"> <img src="./img/images/law2.jpg" class="d-block mx-auto w-50" alt="..." > </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 >Techining Technology</h5>
                            <p>We specilised in HTML teachin the CityTech.</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="./img/images/law1.jpg" class="d-block mx-auto w-50" alt="..." >
                        <div class="carousel-caption d-none d-md-block">
                            <h5 > Meeting with Board of Directors</h5>
                            <p >Future Ghana Technology in the Heart of Knowlege</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="./img/images/law2.jpg" class="d-block mx-auto w-50" alt="..." >
                        <div class="carousel-caption d-none d-md-block">
                            <h5 > Working Tools for Apply</h5>
                            <p >Future Ghana Technology in the Heart of Knowlege</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="./img/images/law2.jpg" class="d-block mx-auto w-50" alt="..." >
                        <div class="carousel-caption d-none d-md-block">
                            <h5 > Working Tools for Apply</h5>
                            <p >Future Ghana Technology in the Heart of Knowlege</p>
                          </div>
                      </div>
                     
    
                    </div>
    
                    <button class="carousel-control-prev" type="button" data-bs-target="#workTech" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#workTech" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                  </div>
                
              </div>
            </div>
    
    </div>
    
    </section> -->
<!-- <div class="row">
  <div class="col">
    
  </div>
</div> -->
    <header class="showcase">
      <h1> NOT AFRAID TO FIGHT</h1>
      <br>
      <h2> BRAVO LAW OFFICES </h2>
   <hr >
    
        <h2> ATTORNEYS AT LAW </h2> 
        <h2> PERSONAL INJURY & REAL ESTATE LAW </h2>
    
      <!-- <a href="" class="btn">
          Learn More <i class="fas fa-chevron-right">


          </i>
      </a> -->

  </header>