<div class="ContainerCard">
    <main class="gridContact">
        <!-- <img src="img/contact.jpg" alt="" class="hightreduce"> -->
        <article>
            <img src="img/location.jpg" alt="">
            <div class="cardText">
                <h3>SERVICES</h3>
                Injury, Real Estate, Landlord-Tenant Disputes,  
                    <br>
                    Evictions and Habitability, Medical Malpractice, 
                    <br>
                     Work related Injury, Fraud & Breach of Contract,
                     <br>
                       and Construction Defect
                     <p>
                     <!-- <a href="https://www.google.com/maps/place/1315+7th+Ave,+San+Francisco,+CA+94122/@37.7637574,-122.4644174,19z/data=!4m5!3m4!1s0x8085875c0fc2cc3f:0x1ab7873870f4b62b!8m2!3d37.7637589!4d-122.4644277" style="color: rgb(83, 177, 235);" > Map & Directions</a></p> -->

               
            </div>
        </article>

        <article>
            <img src="img/callus.jpg" alt="">
            <div class="cardText">
                <h3>BRAVO LAW OFFICE</h3>
                <p>1315 Seventh Avenue
                    <br>
                    San Francisco, CA 94122
                    <br>
                    
                    Call the Office: 415-512-6700
                    <br>
                    Fax: 415-512-6716 or Email us: joebravo@bravolaw.com
                   
               
            </div>
        </article>

        <article>
            <img src="img/location.jpg" alt="">
            <div class="cardText">
                <h3>location</h3>
                Located in San Francisco, California, Bravo Law Offices 
                    <br>
                    represents clients in Contra Costa County, 
                    <br>
                     Alameda County and throughout the Bay Area.
                     <br>
                     <a href="https://www.google.com/maps/place/1315+7th+Ave,+San+Francisco,+CA+94122/@37.7637574,-122.4644174,19z/data=!4m5!3m4!1s0x8085875c0fc2cc3f:0x1ab7873870f4b62b!8m2!3d37.7637589!4d-122.4644277" style="color: rgb(83, 177, 235);" > Map & Directions</a></p>

               
            </div>
        </article>
    </main>
</div>