<!-- Follow code-->
 <section class="follow">
     <p>Follow Bravolaw</p>
     <a href="https://www.facebook.com/joe.bravo.902" class="">
         <img src="img/social-fb.png" alt="Facebook">
     
     </a>

     <a href="https://www.yelp.com/biz/bravo-law-offices-san-francisco" class="">
         <img src="/img/images/social-yelp.png" alt="yelp" style="font-size: 20px;">
     
     </a>

 </a>

 <a href="https://www.linkedin.com/in/joe-bravo-a654b812/" class="">
     <img src="img/social-linkedin.png" alt="Facebook">
 
 </a>

 </section>
 <!-- Follow code-->