  <!-- Links-->

  <%- include('../partials/Follow'); %>


  <section class="links">
    <div class="links-inner">
        <ul>
            <li> <a href="/personal-injury"><h3>Personal Injury</h3></a> </li>
            <li><a href="/premises">Premises Liability</a></li>
            <li><a href="/medical-melpratice">Medical Malpractice </a></li>
            <li><a href="/work-related-injury">Work Injury</a></li>
            <li><a href="/serious-accident">Serious Accident</a></li>
            
          </ul>
          <ul>
            <li>  <a href="/real-estate-default"><h3>Real Estate</h3></a> </li>
            <li><a href="/Estate-Fraud-Breach-of-Contract">Fraud and Breach Of Contract </a></li>
            <li><a href="/Construction-Defects">Construction Defect</a></li>
            <li><a href="/Condominium-Disputes">Condominium Dispute</a></li>
            
          </ul>
          <ul>
            <li> <a href="/Landlord-tenant-issues"><h3>Landlord-Tenant Issues</h3></a> </li>
            <li><a href="/evictions-and-habitability">Evictions And Habitability</a></li>
            
          </ul>


          <ul>
            
            
          </ul>
          
          <ul>
            

            <!-- <form action="/"  class="registerForm"  id="registerForm" method="post" >
                 
              <span class="contactTitle"> ASK US A QUESTION </span>
              
              <hr>

                   <input  type="text" class="emailInput" id="name" name="name" placeholder="FULL NAME" tabindex="1" required>
                  <br>
                  <input  type="email" class="emailInput" id="name" name="email" placeholder="EMAIL" tabindex="2" required>
                <br>
                
                <input  type="text" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}" maxlength="14" class="phoneInput" id="name" name="cellnumber" placeholder="(xxx) xxx-xxxx" tabindex="2" required>
               
        
                 
                
                <br>
                <textarea  class="textAreaInput"  name="message" id="textArea" style="margin-top: 10px;" rows="6" cols="50"  maxlength=250 placeholder="Brief description of your legal issue" required="required"></textarea>
                 <br>
                <button type="submit"    class="sendButton">  Get Help Now </button>
                
            </form> -->
          </ul>

    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <!-- <div><i class="fas fa-globe fa-2x"> English (United States)</i></div> -->
            <ul>
                
                 <!-- <li><a href="/contact-us">Contact BravoLaw</li> -->
                <li><a href="/privacy&cookies">Privacy & cookies</a></li>
                <!-- <li><a href="#">Terms of use</a></li>
                <li><a href="#">Trademarks</a></li> -->
                <li><a href="/about">About Us</a></li>
                <li>&copy; 2018 - 2021 by Bravo Law Offices. All rights reserved. <a href="/disclaimer">| Disclaimer</a> </li>
            </ul>
        </div>
</footer>
 </div>


 <script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>
