<div class="menu-btn"> <!-- Menu on the right-->
    <i class="fas fa-bars fa-2x"></i>
</div>


<div class="container">
   <!-- Nav Bar-->
   <nav class="main-nav">
       
       <!-- <img src="img/logo.png" alt="bravolaw" class="logo"> -->
       <a href="/">
       <div class="finalLogo">
        <h3>
           BRAVOLAW
        </h3>
      </div>
       </a>
       <ul class="main-menu ">
           <li> <a href="/">Home</a></li>
           <li> <a href="/about"> About</a></li>
           <li> <a href="/personal-injury"> Personal Injury </a></li>
           <li> <a href="/real-estate-default"> Real Estate </a></li>
           <li> <a href="/Landlord-tenant-issues"> Landlord-Tenant Issues </a></li>
           <!-- <li> <a href="/contact-us">Contact </a></li> -->
           
      </ul>
      <ul class="right-menu">

          <!-- <li> <a href="/services/contactform" >
             415-512-6700 
            <i class="Contact-icon fas fa-phone-square-alt"> </i>
            
         </a>
        </li> -->
      </ul>



   </nav>
   <!-- Showcase-->
   <!-- <header class="showcase" >


    


   </header> -->