

<div class="arrangeMentText">
    <h1>Joe Bravo</h1>
    <hr>
    <span class="arranText">Principal Attorney</span>
    <br>
    <span class="arranText">Owner</span>

    <div class="locationText">
        

        <span class="labelClass">Location: </span> <label> San Francisco, California </label><br>
        <span class="labelClass">Phone: </span> <label> 415-512-6700 </label><br>

        <span class="labelClass">Fax: </span> <label> 415-512-6716 </label><br>

        <span class="labelClass">Email: </span> <label> <a href="">Email</a> </label><br>

        <div class="aboutText">
         <p> Joe Bravo is the principal attorney and owner of Bravo Law Office. For fifteen years he has been rated "AV" which is the highest national peer rating for competency and ethics that can be accorded an attorney. In 2003 and 2004 he was voted "Super Lawyer" by San Francisco Magazine. Joe Bravo is an experienced trial lawyer, having tried cases throughout San Francisco Bay Area courts. His professional associations include five terms as president of the San Francisco Apartment House Association, three years as delegate to the California Apartment House Association, and two years as chair of its legal committee. He is a graduate of the University of California, Berkeley, Boalt Hall School of Law and the University of California, Berkeley.</p>
        </div>

        <div class="aboutText">
        <h3>Area of Practice: </h3> 
        <p> Personal Injury & Real Estate </p>
        </div>

        <div class="aboutText">
            <h3>Education: </h3> 
            <p>Boalt Hall School of Law, University of California, Berkeley, California
                University of California, Berkeley </p>
            </div>


        <div class="aboutText">
            <h3>Honors and Awards: </h3> <br>
           
            <label for="">Rated "AV"</label>
            <br>
                <label for="">Voted "Super Lawyer" by San Francisco Magazine</label>
            </div>


            <div class="aboutText">
                <h3>Professional Associations and Memberships </h3> 
                <br>
                <label>San Francisco Apartment House Association, President</label> <br>
                <label>California Apartment House Association, Delegate</label>
                </div>
        


       


    </div>

</div>





