<div class="cardInfor">
        
    <div class="headerInfor">
        <h3>LANDLORD TENANT ISSUES </i></h3>
    <!-- <i class="fas fa-angle-down iconM"> -->
    </div>
    <div class="bodyInfor">
        <ul class="ulInfor">

          
        <a href="/Landlord-tenant-issues"><li><i class="fas fa-people-arrows iconInfor"></i>Landlord-tenant disputes</li></a>
        <a href="/evictions-and-habitability"><li><i class="fas fa-house-user iconInfor"></i>Evictions And Habitability</li></a>
        <a href="/about"> <li><i class="fas fa-universal-access iconInfor"></i>About</li></a>
       
        
        </ul>
    </div>
    </div> 