























       <!-- Home Cards 1-->
       <section class="home-cards" alt="">
        <div>
             <img src="img/card1.png" alt="">
             <h3> Security Protection </h3>
             <p>
                 We provide the best service for internet security
             </p>
             <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
         </div>

         <div>
             <img src="img/card2.png" alt="">
             <h3> Networking Services </h3>
             <p>
                 We provide the best service for internet security
             </p>
             <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
         </div>

         <div>
             <img src="img/Windows10.png" alt="">
             <h3> Windows 10 & OS Installation Services </h3>
             <p>
                 We provide the best service for internet security
             </p>
             <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
         </div>

         <div>
             <img src="img/card4.png" alt="">
             <h3> Surveillance cameras Installation </h3>
             <p>
                 We provide the best service for internet security
             </p>
             <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
         </div>

    </section>
    <!-- Xbox Section -->
    <section class="xbox">
        <div class="content">
            <h2>Prevent Security Threats</h2>
            <p> One of the reasons why intrusions happen is because security software is out of date. 
                Security companies do a good job of keeping pace with hackers, but if you don’t promptly apply applicable 
                patches, you leave your entire IT infrastructure at risk of exploits. With a UTM from SecurityTech, your security is never 
                a question because updating one centralized location eliminates the possibility of forgetting to update all your devices.
                
            </p>
              <a href="#" class="btn">
                  Join Now <i class="fas fa-chevron-right"></i>
              </a>


        </div>
    </section>

    <!-- Next Box under the Xbox-->

    <section class="home-cards" alt="">
     <div>
          <img src="img/Security1.JPG" alt="">
          <h3> Security Alarm System </h3>
          <p>
              We provide the best service for internet security
          </p>
          <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
      </div>

      <div>
          <img src="img/card5.png" alt="">
          <h3> Website devepment </h3>
          <p>
              We provide the best service for internet security
          </p>
          <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
      </div>

      <div>
          <img src="img/card7.png" alt="">
          <h3> Traffic Control Security </h3>
          <p>
              We provide the best service for internet security
          </p>
          <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
      </div>

      <div>
          <img src="img/card8.png" alt="">
          <h3> Database Management System </h3>
          <p>
              We provide the best service for internet security
          </p>
          <a href=""> Learn More <i class="fas fa-chevron-right"> </i></a>
      </div>

 </section>
 <!-- Carbon  -->
 <section class="carbon dark">
     <div class="content">
         <h2> Outsourced IT Overview </h2 >
             <p>
                SecurityTech’s managed IT services can help eliminate your company's technology-based headaches.
             </p>

             <a href="#" class="btn">
                 Learn More <i class="fas fa-chevron-right"></i>
             </a>
     </div>

 </section>

<!-- Follow code-->
 <section class="follow">
     <p>Follow SecurityTech.</p>
     <a href="http://facebook.com" class="">
         <img src="img/social-fb.png" alt="Facebook">
     
     </a>

     <a href="http://twitter.com" class="">
         <img src="img/social-twitter.png" alt="Facebook">
     
     </a>

 </a>

 <a href="http://linkedin.com" class="">
     <img src="img/social-linkedin.png" alt="Facebook">
 
 </a>

 </section>

 </div>