<div class="cardInfor">
        
    <div class="headerInfor">
        <h3>PERSONAL INJURY </i></h3>
    <!-- <i class="fas fa-angle-down iconM"> -->
    </div>
    <div class="bodyInfor">
        <ul class="ulInfor">

          
        <a href="/premises"><li><i class="fas fa-blind iconInfor"></i>  Premises Liability</li> </a> 
        <a href="/medical-melpratice"><li><i class="fas fa-clinic-medical iconInfor"></i>Medical Malpractice</li></a> 
        <a href="/work-related-injury"><li><i class="fas fa-laptop-house iconInfor"></i>Work-Related Injury</li> </a> 
        <a href="/serious-accident"><li><i class="fas fa-car-crash iconInfor"></i>Serious Accidents</li></a>
        <a href="/about"> <li><i class="fas fa-universal-access iconInfor"></i>About</li></a>
       
        
        </ul>
    </div>
    </div> 