<div class="cardInfor">
        
    <div class="headerInfor">
        <h3>REAL ESTATE </i></h3>
    <!-- <i class="fas fa-angle-down iconM"> -->
    </div>
    <div class="bodyInfor">
        <ul class="ulInfor">

          
        
        <a href="/Estate-Fraud-Breach-of-Contract"><li><i class="fas fa-file-contract iconInfor"></i>Fraud & Breach of Contract</li></a> 
        <a href="/Construction-Defects"><li><i class="fas fa-hard-hat iconInfor"></i>Construction Defect</li> </a> 
        <a href="/Condominium-Disputes"><li><i class="fas fa-city iconInfor"></i>Condominium Dispute</li></a>
        
        <a href="/about"> <li><i class="fas fa-universal-access iconInfor"></i>About</li></a>
       
        
        </ul>
    </div>
    </div> 