<div class="row">
    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/personalinjury.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Injury Lawyer</h5>
              <p class="card-text">If you've been injured, you need an attorney who will fight to get you the compensation you deserve. At Bravo Law Offices, we do just that.
                 We are aggressive litigators and firm negotiators. No matter how serious your injury our lawyers have the skills and experience necessary to maximize your compensation.</p>
              <a href="/personal-injury"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/law4.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Real Estate Lawyers</h5>
              <p class="card-text">If you've been defrauded or victimized in real estate, or are involved in a construction dispute or real estate-related issues, time is money. At Bravo Law Offices, our attorneys have one goal: obtaining a solution that protects your property and financial interests, in the most cost-efficient manner possible.</p>
              <a href="/real-estate-default"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/landlord.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Landlord-Tenant Disputes</h5>
              <p class="card-text">For nearly 30 years, landlords and tenants have turned to Joe Bravo for help. No matter what your issue — habitability, eviction, nuisance, discrimination — we've handled it. We can help you.</p>
              <a href="/Landlord-tenant-issues"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/invicnotice.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Evictions And Habitability</h5>
              <p class="card-text">At Bravo Law Offices, in San Francisco, we'll fight with you and fight for you. Our lawyers are not afraid of a challenge. For more than 30 years, we have been helping landlords and tenants throughout the Bay Area protect their interests during evictions and habitability disputes.</p>
              <a href="/evictions-and-habitability"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    

    




</div>