<div class="row">
    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/Medical-Malpractice.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title"> Medical Malpractice</h5>
              <p class="card-text">Doctors are supposed to heal, not hurt. If a doctor, nurse or other health care professional's negligence, recklessness or poor judgment left you injured, you have a right to compensation. At Bravo Law Offices, we will help you protect that right.</p>
              <a href="/medical-melpratice"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/Work-Related-Injury.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Work-Related Injury</h5>
              <p class="card-text">After being injured on the job many workers believe their only form of compensation is through California's workers' compensation system. This is not necessarily true. In some cases you may have a personal injury claim against a third party that you may pursue as well as a workers' compensation claim.</p>
              <a href="/work-related-injury"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/contract.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Fraud & Breach of Contract</h5>
              <p class="card-text">  <span>Real Estate Fraud And Breach Of Contract</span> Residential and commercial real estate disputes cost time and money. At Bravo Law Offices, we work to resolve your dispute as efficiently and economically as possible. Our attorneys have successfully represented individual homeowners, commercial property owners, contractors and developers during issues involving real estate fraud, failure to disclose and breach of contract disputes.</p>
            
              <a href="/Estate-Fraud-Breach-of-Contract"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    <div class="col-sm d-flex">

        <div class="card" style="width: 22rem;">
            <img src="../img/images/Cdefects.jpg" class="card-img-top" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Construction Defect</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/Construction-Defects"> Learn More <i class="fas fa-chevron-right"> </i></a>
            </div>
          </div>

    </div>

    

    




</div>